$primary: #00ba00;
$secondary: white;

@use 'bootstrap/scss/bootstrap' as bs with (
    $primary: $primary,
    $secondary: $secondary
);

@use 'bootstrap-icons/font/bootstrap-icons.css';

.btn-primary {
    --bs-btn-color: white;
    --bs-btn-hover-color: white;
    --bs-btn-active-color: white;
}
